@use 'variables';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background: var(--color-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

canvas {
	width: min(100vw, 150vh);
	height: min(100vh, 66.667vw);
	image-rendering: pixelated;
	z-index: 1;
}

